<!DOCTYPE html>
<html ng-app="fp-wiki">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.js"></script>
        <script src="js/App.js"></script>
        <script src="js/SearchController.js"></script>
    </head>
<body ng-controller="SearchController">
<br/>
<br/>
    <div style="display: inline-block; text-align: center">
        <form class="pure-form" style="display: inline-block; text-align: center">
            <input type="text" ng-model="query" />
            <button class="pure-button pure-button-primary" ng-click="search()">Search</button>
        </form>
    </div>
<br/>
<br/>
<br/>
<table class="pure-table pure-table-striped pure-table-bordered">
    <tbody>
    <thead>
    <tr>
        <th>Method Name</th>
        <th>Method Parameters</th>
        <th>Method ReturnType</th>
    </tr>
    </thead>
    <tr ng-repeat="method in methods">
        <td ng-click="goToDetails(method)">{{method.Name}}</td>
        <td>{{method.Parameters}}</td>
        <td>{{method.ReturnType}}</td>
    </tr>
    </tbody>
</table>
<label ng-show="details">
    {{details}}
</label>
</body>
</html>
