<!DOCTYPE html>
<html ng-app="fp-wiki">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.js"></script>
        <script src="js/App.js"></script>
        <script src="js/SearchController.js"></script>
    </head>
    <body ng-controller="SearchController">
        Hello, world. We have haskell, would you like some?
        {{greeting}}
        <input type="text" ng-model="query"/>
        <button ng-click="search()">Search</button>
    </body>
</html>
